
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: inherit;
  background: #380497;
  color: white;
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: white;
  text-decoration: none;
}

a:active,
a:hover {
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}